/.settings/
/target/
/.classpath
/.project
/cluster.json
/hierarchy.json
/data_tsv/
/parts_Adventures of Huckleberry Finn by Mark Twain.txt
/parts_he Adventures of Tom Sawyer by Mark Twain.txt
/parts_The Major Operations of the Navies in the War of American Independence by Mahan.txt
/data_toVisualize/
/parts_The Adventures of Tom Sawyer by Mark Twain.txt
